{% extends 'base.html' %}

{% block content %}
	<div class="container">
        <div class="table-wrapper">
            
            {% include 'modal/snippets/table-title.html' %}

            <table class="table table-striped table-hover">
                <thead>
                    <tr>
						<th>{% include 'modal/snippets/custom-checkbox-header.html' %}</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for employee in object_list %}
                    <tr>
						<td>{% include 'modal/snippets/custom-checkbox-body.html' %}</td>
                        <td>{{employee.full_name}}</td>
                        <td>{{employee.email}}</td>
                        <td>{% include 'modal/snippets/actions.html' %}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% include 'modal/snippets/modal-add.html' %}
            {% include 'modal/snippets/modal-edit.html' %}
            {% include 'modal/snippets/modal-delete.html' %}
        </div>
    </div>
{% endblock %}