{% extends 'base.html' %}


{% block title %}
	Task
{% endblock %}

{% block content %}
<div class="col-8 mt-5">
	<form class="form-inline justify-content-center" method="post" id="createTaskForm" data-url="{% url 'task_list_url' %}">
		{% csrf_token %}
		{% for field in form %}
			<div class="mx-3">
				{{field}}
			</div>
		{% endfor %}
		<input type="button" class="btn btn-outline-success" value="Create" id="createButton">
	</form>
</div>

<div class="col-5 mt-5" id="taskList">
	{% for task in tasks %}
		<div class="card mb-1" id="taskCard" data-id="{{ task.id }}" style="{% if task.completed %}text-decoration: line-through;{% endif %}">
			<div class="card-body">
				{{ task.title }}
				<button type="button" class="close float-right" data-dismiss="modal" aria-label="Close" data-id="{{ task.id }}">
		          <span aria-hidden="true">&times;</span>
		        </button>
			</div>
		</div>
	{% endfor %}
</div>
{% endblock %}