<a href="{% url 'publisher_create' %}">Add Publisher</a>
<h2>Publishers</h2>
{% if messages %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
{% endif %}
{% if my_favorite_publishers %}
<ul>
  {% for publisher in my_favorite_publishers %}
  <li>
    {{publisher}} - <a href="{% url 'publisher_detail' publisher.id %}">Detail</a>
    <a href="{% url 'publisher_delete' publisher.id %}">Delete</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p><strong>No publishers are available</strong></p>
{% endif %}


<a href="{% url 'book_create' %}">Add Book</a>
<h2>Books</h2>
{% if book_list %}
<ul>
  {% for book in book_list %}
  <li>
    {{book}} - <a href="{% url 'book_detail' book.id %}">Detail</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p><strong>No books are available</strong></p>
{% endif %}


<a href="{% url 'author_create' %}">Add Author</a>
<h2>Authors</h2>
{% if author_list %}
<ul>
  {% for author in author_list %}
  <li>
    {{author}} - <a href="{% url 'author_detail' author.id %}">Detail</a>
    <a href="{% url 'author_delete' author.id %}">Delete</a>
  </li>
  {% endfor %}
</ul>
{% else %}
<p><strong>No books are available</strong></p>
{% endif %}
